<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
    <head th:include="layout :: htmlhead"></head>

    <body>
        <nav th:replace="layout :: menu">(menu)</nav>

        <div class="container">
            <h1 class="text-center">Procedimentos</h1>
            
            <div class="botao-direita">
                <nav>
                    <li><a th:href="@{/procedimento/novo}">Novo</a></li>
                </nav>
            </div>
            <table class="table" id="procedimentos">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>DESCRIÇÃO</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="procedimento : ${listaProcedimentos}">
                        <td th:text="${procedimento.id}"></td>
                        <td th:text="${procedimento.descricao}"></td>
                        <td>
                            <a th:href="@{'/procedimento/alterar/'+${procedimento.id}}" 
                            class="btn btn-primary">Alterar</a>
                            <button class="btn btn-danger js-delete" 
                                    th:data-id="${procedimento.id}" >Excluir</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div th:include="layout :: footer">(footer)</div>
        <script type="text/javascript">
            $(document).ready(function(){
                $("#procedimentos").on('click','.js-delete', function(){
                    let button = $(this);
                    bootbox.confirm("Comfirma a exclusão do registro?", function(result){
                        if (result) {
                            $.ajax({
                                url: '/procedimento/delete/' + button.attr("data-id"),
                                method: 'GET',
                                success : function(){
                                    window.location.href = "/procedimento/";
                                }
                            });
                        }
                    });
                });
            });
        </script>
    </body>
</html>